.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #94d82d;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.input-boxes {
  display: flex;
  padding: 20px;
  border-radius: 9px;
  flex-direction: column;
}

.error-message {
  color: black;
}

input,
button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

button {
  background-color: #7cc928;
  color: white;
  cursor: pointer;
}

.results {
  margin-top: 20px;
  text-align: center;
}
